html, body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#reminder-div {
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

#reminder>input {
    margin: 5px 0px 5px 0px;
}

#reminder>button {
    margin-top: 5px;
}

#clear-reminders {
    margin-top: 5px;
}

#current-reminders-div {
    margin-top: 13px;
}

#reminder>label {
    display: inline-block;
    margin-top: 7px;
}